.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 0.5s linear;
  height: 80px;
  
}

.App-header {
  background-color: #ffb400;
  height: 150px;
  padding: 20px;
  color: white;
  font-family: 'Bangers', cursive;
}

.App-intro {
  font-size: large;
  font-family: 'Oswald', sans-serif;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
