body {
  background-color: #ffdf2a;
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}

h2 {
  font-size: 40px;
}

.App-logo {
  position: relative;
  top: -100px;
  right:0;
  animation: App-logo-spin infinite 0.4s linear;
  height: 70px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header {
  position: fixed;
  top: 140px;
  right: 0;
  width: 300px;
  height: 300px;
  background-image: url("bubble.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  font-family: 'Bangers', cursive;
}

.App-header h2 {
  position: relative;
  top: -50px;
  left: -20px;
}

p {
  font-family: 'Oswald', sans-serif;
}

.App-intro {
  position: fixed;
  top: -40px;
  left: 0;
  width: 200px;
  height: 200px;
  background-image: url("bubble_left.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  font-family: 'Bangers', cursive;
  line-height: 180px;
  font-size: 24px;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: 30px; /* <-- adjust this */
}


button {
  width: 100px;
  height: 30px;
  font-family: 'Oswald', sans-serif;
  font-style: oblique;
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-shadow: rgb(21, 70, 130) 0 1px 0;
  box-shadow: 5px 5px 0 black;
  background-color: #219e7b;
  border: 1px solid black;
  border-radius: 15px;
  margin: 20px;
}

button:active {
  width: 130px;
  height: 40px;
  margin: 15px 5px;
  background-color: #ec4141;
  font-size: 120%;
}

button:focus {
  background-color: #ec4141;
  font-size: 110%;
}

.tables {
  border-collapse: collapse;
  text-align: left;
  width: 350px;
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
  margin: auto;
}

.tables thead th {
  color: black;
  border-bottom: 2px solid #219e7b;
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
}

.tables tbody td, .container {
  min-width: 50px;
  color: black;
  font-size: 16px;
  line-height: 40px;
  font-weight: normal;
  margin: 2px;
}

.tables tbody .alt td {
  color: #219e7b;
}

.container {
  display: flex;
  align-items: center;
}

.avatarImg {
  width: 25px;
  height: 25px;
  border: 3px solid #219e7b;
  border-radius: 30px;
  margin-right: 10px;
}

.arrowleft {
  position: relative;
  top: -150px;
  left: -200px;
  width: 100px;
  height: 150px;
}

.arrowright {
  position: relative;
  top: -150px;
  left: 200px;
  width: 100px;
  height: 150px;
}

.invisible {
  display: none;
}

.loginArea {
  position: fixed;
  top: 200px;
  left:50px;
}

.change {
  width:250px;
  height:250px;
  animation: arrows-spin infinite alternate 0.6s linear;
}

@keyframes arrows-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(20deg); }
}

.loginArea p {
  position: relative;
  top:-260px;
  margin-top: 120px;
  font-family: 'Bangers', cursive;
  font-size: 36px;
}

.loginArea p span {
  color: #219e7b;
}
